
<div class="heading1">
  <img *ngFor="let image of images" src="{{image.head}}" class="head-image">
  <h2>Welcome to our E-Store Complaint Management System!</h2>
  <p>Here, we value your feedback and strive to provide you with exceptional customer service.
    We understand that concerns and issues may arise during your shopping experience, and we are here to address them promptly and efficiently.
    Experience the power of streamlined complaint resolution</p>
  <br>
  <div class="cta">
    <a class="button cta-button" routerLink="/Grievance filling page"><span>Resolve Your Concerns Now!</span></a>
  </div>
  </div><br><br>

  <div class="intro">
    <h2>First thing's first. What's E-store CMS?</h2>
    <img *ngFor="let image of images" src="{{image.intro}}" class="intro-image">
    <p>Our eStore Complaint Management System is designed to streamline the process of handling and resolving complaints, ensuring your satisfaction.
      With our user-friendly interface, submitting a complaint is just a few clicks away. Whether you encountered <br>a problem with a product, faced issues with delivery, or had any other concerns, our system allows you to provide all the necessary details and attach any supporting documents or images.</p>
  </div>
  <br><br>

  <div class="container">
    <h1>Features of this complaint management system</h1>
    <div class="row">
      <div class="features">
        <h2>01</h2>
        <p>Real time tracking of the complaints</p>
      </div>
      <div class="features">
        <h2>02</h2>
        <p>Admin panel can control the system and view the complaints registered online</p>
      </div>
      <div class="features">
        <h2>03</h2>
        <p>Creates an unique complaint ID to each complaint, To make it easy to track</p>
      </div>
      <div class="features">
        <h2>04</h2>
        <p>Customer can provide feedback regarding the solution provided</p>
      </div>
      <div class="features">
        <h2>05</h2>
        <p>Customers can also check the history of the complaints</p>
      </div>
      <div class="features">
        <h2>06</h2>
        <p>Gives notification alert to customers after the status of the complaint change every time</p>
      </div>
    </div>
  </div>


  <div class="how-to">
    <img *ngFor="let image of images" src="{{image.head1}}" class="how-to-image">
    <h2>How to make a complaint?</h2>
   <p>1. Create an account by registering or using google.<br>
    2. Go to the Grievance page to upload your complaint.<br>
    3. You can add images while filing your complaint.<br>
    4. After that you can able to see the complaint details.<br>
    5. You can see how much your complaint is processed through track complaint.<br>
</p><br>
</div>

<div class="after-complaint">
  <h2>What happens after you submit your complaint?</h2>
  <img *ngFor="let image of images" src="{{image.head3}}" class="after-complaint-image">
  <p>Once you submit your complaint, our dedicated team swings into action. We assign a unique complaint ID to each submission,
    enabling you to track its progress in real-time. We keep you informed throughout the resolution process, ensuring that you are always up-to-date with the latest developments.</p>
</div>
<br><br><br>

  <br><br><br><br><br>

