<div class="forgot-password-page">
  <div class="forgot-password-container">
    <div class="header">
      <img *ngFor="let image of images" src="{{image.forgotpassword}}">
    </div>
    <h2>Forgot Your Password?</h2>
    <p>Enter your email address to reset your password.</p>
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <input type="email" placeholder="Email" name="email" required>
      </div>
      <button type="submit">Reset Password</button>
    </form>
    <a routerLink="/Login">Back to Login</a>
  </div>
</div>
