.forgot-password-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.forgot-password-container {
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 1, 0.5);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.header {
  margin-bottom: 20px;
}

.header img {
  width: 350px; /* Adjust the width as needed */
  height: auto;
}

.forgot-password-container h2 {
  margin-top: 0;
  font-size: 24px;
}

.forgot-password-container p {
  margin-bottom: 20px;
  color: #777777;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}
