<div class="left-fixed-header">
<div class="sidebar-navigation">
    <h2>Dashboard</h2>
    <hr><br>
      <li><a routerLink="/Admin" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/AdminChat" routerLinkActive="active">Chats</a></li>
      <li><a routerLink="/UserDetail" routerLinkActive="active">User Details</a></li>
      <li><a routerLink="/AssignedComplaint" routerLinkActive="active">Assigned Complaints</a></li>
      <li><a routerLink="Logout" (click)="Logout()">Logout</a></li>
</div></div>
<div class="main_content">
  <div class="header">Welcome!!</div>
</div>
